.increDecreMain{
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    background-color: beige;
    border-radius: 20px;
}
.buttons-con{
    display: flex;
    gap: 20px;
}
.buttons-con button{
    background-color: gray;
    width: auto;
}